* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header-info {
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6900;
    padding: 10px 20px;
}

.header-info img {
    height: 23px;
    margin-right: 5px;
}
.redesocial{
    margin-right: 225px;
}
.redesocial img {
    margin-left: 15px;
}

.contact {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.email,
.phone {
    padding: 0px 10px;
    color: #FFFFFF;
    font-size: 0.9em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #004E9A;
    padding: 10px 20px;
    color: #FFFFFF;
}

.logoImg {
    margin-left: 10%;
    width: 200px;
}



.menu-hidden {
    list-style-type: none;
    display: flex;
}
.menu{
    margin-right: 100px;
}
.menu-item {
    margin-left: 20px;
}

.menu-item a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    transition: color 0.3s ease;
}

.menu-item a:hover {
    color: #FF6900;
}

.main {
    text-align: center;
}

.main h3 {
    font-family: 'Righteous';
    font-weight: 900;
    font-size: 2.2em;
    margin: 30px;
    color: #000;
}

.photoFactory {
    width: 100%;
    margin: 0 auto;
}

.containerSobre {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contentSobre {
    background-color: #004E9A;
    color: #FFFFFF;
    padding: 40px;
    width: 50%;
    margin: 0 auto;
}
.sobreImg{
    width: 50%;
    overflow: hidden; /* Oculta o conteúdo que ultrapassa os limites do contêiner */
}
.sobreImg img{
    height: 100%;
}
.contentSobre h1 {
    font-family: 'Moul';
    font-weight: 1000;
    font-size: 4em;
    text-align: center;
    color: #FF6900;
}

.contentSobre h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

.services {
    margin: 3% 0%;
    text-align: center;
}

.services h1 {
    font-family: 'Moul';
    font-weight: 1000;
    font-size: 3.5em;
    color: #FF6900;
}

.servicesItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.servicesItems li {
    margin: 20px;
    text-align: center;
}

.servicesItem img {
    width: 100%;
    height: auto;
}


.containerOferta {
    text-align: center;
    padding: 40px 20px;
}
.servicesItems li {
    margin: 0 10px;
}

.servicesItems img {
    width: 22vw;
}

.servicesItems li:hover img {
    filter: brightness(50%);
}

.servicesItems li {
    position: relative;
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.servicesItems h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease;
    color: white; /* Cor do texto */
    text-align: center;
    /* Description */
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;


    opacity: 0; /* Inicialmente oculto */
}

.servicesItems li:hover h6 {
    opacity: 1; 
    z-index: 2;

}

.servicesItems img {
    display: block;
    height: auto; /* Para manter a proporção */
}
.ofertasTitle {
    font-family: 'Moul';
    font-weight: 1000;
    font-size: 3.5em;
    color: #FF6900;
}

.ofertas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.oferta {
    width: 300px;
    background-color: #FF6900;
    color: #FFF;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.containerOferta{
    margin: 3% 0%;
}

.oferta img {
    width: 80px;
    height: auto;
    margin: 0 auto 20px;
}
.ofertaTitle span{
    font-size: 2em;
    font-weight: 1000;
}

.oferta h6 {
    font-size: 1em;
    margin-bottom: 10px;
}

.footer {
    background-color: #004E9A;
    color: #FFF;
    padding: 40px 20px;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}
.menu-btn{
    display: none;
}

@media screen and (max-width: 1024px) {
    .menu-btn {
        margin-left: -20px;
        display: block;
        border: none;
        background: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #004d9aaa;
        position: absolute;
        top: 60px;
        left: 100px;
        width: 40%;
    }
    
    nav ul.show {
        display: flex;
    }
    .contact{
        width: 100%;
    }
    nav ul li {
        margin: 10px 0;
    }

    .redesocial {
        display: flex;
        margin-left: 20%;
    }
    .main h3{
        font-size: 1.8em;
    }
    .logoImg {
        width: 20%;
    }

    .logoText {
        margin-right: 30px;
        font-size: 1.3em;
        margin-left: 0;
    }

    .header-info {
        
        justify-content: flex-start;
    }
    .contact{
        margin-left: 0px;
    }
    .email,
    .phone {
        padding: 0px 20px;
        font-size: 1em;
    }
    .emailIcon{
        padding-left: 30px;
    }
    .photoFactory{
        width:100%;
    }
    .contentSobre{
        width: 100%;
    }
    .sobreImg{
        display: none;
    }
    .services{
        margin-top: 50px;
    }
    .servicesItems{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .servicesItem img{
        padding: 15px 0px;
        width: 100%;
    }

    .servicesTitle{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 767px){
    .contact{
        font-size: 0.8em;
    }
    .email,
    .phone {
        padding: 0px 10px;
    }
    .emailIcon{
        padding-left: 20px;
    }
    .redesocial{
        display: none;
    }
}